Temperatura_CPU_node_red/Temperatura_CPU_node_red.json
[{"id":"7c8dcadf.e76304","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"b89348fb.733c28","type":"cpu","z":"7c8dcadf.e76304","name":"Core Usage","msgCore":false,"msgOverall":false,"msgArray":true,"msgTemp":false,"x":340,"y":60,"wires":[["e1961832.296018"]]},{"id":"284978e.326a788","type":"inject","z":"7c8dcadf.e76304","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":120,"wires":[["b89348fb.733c28","1dc9c02f.1ce38"]]},{"id":"48f4dfe6.7dc65","type":"debug","z":"7c8dcadf.e76304","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":390,"y":240,"wires":[]},{"id":"42204c11.5e2254","type":"debug","z":"7c8dcadf.e76304","name":"structData","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":440,"wires":[]},{"id":"1dc9c02f.1ce38","type":"cpu","z":"7c8dcadf.e76304","name":"CPU Temperature","msgCore":false,"msgOverall":false,"msgArray":false,"msgTemp":true,"x":330,"y":140,"wires":[["48f4dfe6.7dc65","e55adf75.819e9"]]},{"id":"e55adf75.819e9","type":"ui_gauge","z":"7c8dcadf.e76304","name":"CPU Temperature","group":"dd70abe0.14cb38","order":0,"width":"6","height":"6","gtype":"gage","title":"Teperature ºC","label":"units","format":"{{value}}","min":0,"max":"70","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":280,"wires":[]},{"id":"e1961832.296018","type":"function","z":"7c8dcadf.e76304","name":"","func":"msg.payload = {\n    corespd1:msg.payload[0].speed,\n    corespd2:msg.payload[1].speed,\n    corespd3:msg.payload[2].speed,\n    corespd4:msg.payload[3].speed\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":80,"wires":[["f6ce47e4.0e37a8","4a74f4bb.0eccfc","496a15ec.5887dc","a26b0943.496808"]]},{"id":"f6ce47e4.0e37a8","type":"ui_gauge","z":"7c8dcadf.e76304","name":"CPU MHz 1","group":"dd70abe0.14cb38","order":1,"width":"3","height":"3","gtype":"gage","title":"Core 1 Usage Mhz","label":"units","format":"{{msg.payload.corespd1}}","min":0,"max":"2400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":100,"wires":[]},{"id":"4a74f4bb.0eccfc","type":"ui_gauge","z":"7c8dcadf.e76304","name":"CPU MHz 2","group":"dd70abe0.14cb38","order":1,"width":"3","height":"3","gtype":"gage","title":"Core 1 Usage Mhz","label":"units","format":"{{msg.payload.corespd1}}","min":0,"max":"2400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":140,"wires":[]},{"id":"496a15ec.5887dc","type":"ui_gauge","z":"7c8dcadf.e76304","name":"CPU MHz 3","group":"dd70abe0.14cb38","order":1,"width":"3","height":"3","gtype":"gage","title":"Core 3 Usage Mhz","label":"units","format":"{{msg.payload.corespd1}}","min":0,"max":"2400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":180,"wires":[]},{"id":"a26b0943.496808","type":"ui_gauge","z":"7c8dcadf.e76304","name":"CPU MHz 4","group":"dd70abe0.14cb38","order":1,"width":"3","height":"3","gtype":"gage","title":"Core 4 Usage Mhz","label":"units","format":"{{msg.payload.corespd1}}","min":0,"max":"2400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":220,"wires":[]},{"id":"69061904.a5d9e8","type":"cpu","z":"7c8dcadf.e76304","name":"Core Usage","msgCore":false,"msgOverall":true,"msgArray":false,"msgTemp":false,"x":290,"y":380,"wires":[["42204c11.5e2254","6644844e.9d0bbc"]]},{"id":"284315c7.347d3a","type":"inject","z":"7c8dcadf.e76304","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":260,"wires":[["69061904.a5d9e8"]]},{"id":"6644844e.9d0bbc","type":"ui_chart","z":"7c8dcadf.e76304","name":"","group":"dd70abe0.14cb38","order":5,"width":"6","height":"6","label":"Uso en el core","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":540,"y":340,"wires":[[]]},{"id":"dd70abe0.14cb38","type":"ui_group","name":"OS","tab":"6d54a11.6b2c0e","order":5,"disp":true,"width":"6","collapse":false},{"id":"6d54a11.6b2c0e","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
